html, body {
    font-family: "Poppins", sans-serif;
    max-width: 736px;
}

header {
    text-align: center;
    margin-bottom: 42px;
}

html {
    margin: 0 auto;
}

body {
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 42px; 
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 16px;

}

p {
    font-size: 0.875rem;
    font-weight: 400;
}

article {
    display: flex;
    margin-bottom: 52px
}

article img {
    max-width: 160px;
    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

@media only screen and (max-width: 480px) {
    h1 {
      margin: 16px 6px; 
    }

    article {
        display: block;
    }

    body { 
        margin: 20px;
    }
    .text {
        margin: 0;
    }


}